body {
  background-color: rgb(24, 42, 107);
  color: #fff;
}
section {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.imagem {
  width: 600px;
  height: 400px;
  border-radius: 5px;
}
.content {
  margin: 30px 0px;
}
button {
  margin-right: 10px;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
}
.primary {
  background-color: #18e990;
}
.secundary {
  background-color: #CC0000;
}
input {
  margin-right: 10px;
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
}